<nb-card class="inline-form-card">
  <nb-card-header>{{ filterTitle }}</nb-card-header>
  <nb-card-body>
    <form class="form-inline">
      <input
        type="text"
        nbInput
        fullWidth
        [placeholder]="filterPlaceholder"
        [formControl]="filter"
      />
      <button
        type="button"
        nbButton
        outline
        shape="semi-round"
        status="primary"
        [size]="buttonFontSize"
        (click)="onSearchClick()"
      >
        Buscar
      </button>
    </form>
  </nb-card-body>
</nb-card>
