<div class="row">
  <div class="col-md-5 col-xl-4">
    <ngx-input-img
      (inputImgSelectedFile)="onImageChange($event)"
      [genericUser]="patient"
    ></ngx-input-img>
  </div>
  <div class="col-md-7 col-xl-8">
    <nb-alert status="danger" [hidden]="!displayErrorAlert">{{
      errorAlertMessage
    }}</nb-alert>
    <form (submit)="onFormSubmit()" [formGroup]="patientForm">
      <nb-card>
        <nb-card-header>{{ formTitle }}</nb-card-header>
        <nb-card-body>
          <div class="full-name-inputs">
            <input
              type="text"
              nbInput
              fullWidth
              shape="semi-round"
              placeholder="Nombres"
              formControlName="firstName"
            />
            <input
              type="text"
              nbInput
              fullWidth
              shape="semi-round"
              placeholder="Apellidos"
              formControlName="lastName"
            />
          </div>
          <input
            type="number"
            nbInput
            fullWidth
            shape="semi-round"
            placeholder="Celular"
            formControlName="mobileNumber"
          />
          <div class="form-group row">
            <label class="col text-center">Género</label>
            <div class="col">
              <nb-radio-group formControlName="gender">
                <nb-radio value="Masculino">Masculino</nb-radio>
                <nb-radio value="Femenino">Femenino</nb-radio>
              </nb-radio-group>
            </div>
          </div>
          <div class="form-group row">
            <div class="col text-center">
              <input
                nbInput
                placeholder="Fecha de nacimiento"
                [nbDatepicker]="formpicker"
                formControlName="dateOfBirth"
              />
              <nb-datepicker #formpicker></nb-datepicker>
            </div>
          </div>
          <hr />
          <div class="confirmation-buttons">
            <button
              type="submit"
              nbButton
              status="primary"
              [disabled]="isFormInvalid()"
            >
              {{ confirmationButtonMessage }}
            </button>
            <button
              *ngIf="!deleteButtonHidden"
              (click)="onPatientDeletion()"
              type="button"
              nbButton
              status="danger"
            >
              Eliminar
            </button>
            <button
              type="button"
              nbButton
              status="warning"
              [routerLink]="[redirectOnCancelRoute]"
            >
              Cancelar
            </button>
          </div>
        </nb-card-body>
      </nb-card>
    </form>
  </div>
</div>
