<h1 id="title" class="title">Recuperación de contraseña</h1>
<p class="sub-title">
  Ingresa tu correo y te enviaremos un enlace para recuperar tu contraseña
</p>

<form
  (ngSubmit)="sendRequest()"
  autocomplete="off"
  [formGroup]="passwordRequestForm"
>
  <div class="form-control-group">
    <label for="input-email" class="label"
      >Ingresa tu dirección de correo:</label
    >
    <input
      type="email"
      nbInput
      fullWidth
      id="input-email"
      placeholder="Dirección de correo"
      [status]="emailInputColor"
      formControlName="email"
      autofocus
      required
    />
    <p class="error-message" *ngIf="inputValidation('email')">
      {{ emailErrorMsg }}
    </p>
  </div>

  <button
    nbButton
    fullWidth
    status="success"
    type="submit"
    [disabled]="passwordRequestForm.invalid"
  >
    Enviar enlace de recuperación
  </button>
</form>

<section class="another-action" aria-label="Login">
  ¿Deseas ingresar con tu cuenta?
  <br />
  <a class="text-link" [routerLink]="loginRoute">Inicio de sesión</a>
</section>
